<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bark_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <bark_GUI.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PathMainDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="PathSamples" serializeAs="String">
                <value />
            </setting>
            <setting name="PathMaterials" serializeAs="String">
                <value />
            </setting>
            <setting name="PathErrorLog" serializeAs="String">
                <value />
            </setting>
            <setting name="PathBarkExe" serializeAs="String">
                <value />
            </setting>
            <setting name="PathCurrentFile" serializeAs="String">
                <value />
            </setting>
            <setting name="XSDValidatorName" serializeAs="String">
                <value>XSDValidator.xsd</value>
            </setting>
            <setting name="WindowSeparatorPosition" serializeAs="String">
                <value>260</value>
            </setting>
        </bark_GUI.Properties.Settings>
    </userSettings>
</configuration>